@model IEnumerable<webServer.Models.Accounts>


<h2>Accounts</h2>
<p>
    @Html.ActionLink("Add account", "Create", "Accounts", new { @class = "btn btn-success pull-right" })
</p>
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.accountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accountPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accountRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.accountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accountPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accountRole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
